.collegeName{
    text-align: center;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.topnav{
    text-align: center;
}
.topnav a {
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .mid{
    display: flex;
    align-content: flex-start;
    margin: 10px;

}
.anno{
    border-left: 2px solid blue;
    padding-left: 0.5em;

}
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}