h1{
    font: georgia;
    color: blue;
    
}
.title{
    letter-spacing: 1.6em;
    font-size: larger;
    text-align: center;
    background-color: lightgray;
    word-spacing: 2em;
} 
h2{
    padding-left: 2em;
    color: darkred;
    font: georgia;
    size: 18px;
    letter-spacing: 1.4em ;
}
p{
   padding-left: 2.1em ;
}
.Body{
    padding: 10em;
}